{% extends "layout.html" %}
{% block rasp %}
  <div class="home">
    <h2>Related</h2>
      <h3>North-West University January 2015 -> December 2018</h3>
      <p>BSc Information Technolog</p>
      <h3>Agrisol            May 2018 -> December 2018</h3>
      <ul>
          <li>Junior developer.</li>
          <li>Developement of websites and moblie applications for farmers to monitor <br>
              their crops and the quality of their lands.</li>
          <li>Used Android integrated VS to develop software for Android phones.</li>
      </ul>
    <h2>programming and Software</h2>
      <h3>Software skills obtained through Unversity and self study</h3>
      <ul>
          <li>C#</li>
          <li>C++</li>
          <li>Java</li>
          <li>HTML</li>
          <li>CSS</li>
          <li>Python</li>
          <li>Structured Text</li>
          <li>CLIPS</li>
      </ul>
      <h3>Frameworks I have experience in</h3>
      <ul>
          <li>Android Studio</li>
          <li>Flask</li>
          <li>PySimpleGUI</li>
          <li>.NET Forms</li>
      </ul>

  </div>
{% endblock %}
