{% extends "layout.html" %}
{% block rasp %}
  <div class="home">
    <h1>Who am I?</h1>
    <p>I am a young professional aspiring to be a compitent developer in the world of code.</p>
    <p>My coding journey started in university in my attempt to aquire my BSc degree in IT,<br>
    I still have 3 more modules to go. Learning new technologies and languages is what<br>
    I love investing my time into.
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt <br>
      ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation <br>
      ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit<br>
      in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat<br>
      non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
  </div>
{% endblock %}
